.css-4t3x6l-MuiPaper-root-MuiDrawer-paper
{
    height: 87.7% !important;
    margin-top: 5.09rem;
    background: rgb(10,9,13);
    background: linear-gradient(202deg, rgba(10,9,13,1) 0%, rgba(26,15,42,1) 23%, rgba(29,20,41,1) 39%, rgba(30,17,50,1) 53%, rgba(27,11,50,1) 71%, rgba(2,0,5,1) 100%) !important;
    color: white !important;
        padding-top: 1rem;

}
